body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 64px;
  margin-bottom: 24px;
}

.form-label {
  margin-right: 8px;
}

.form-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 16px;
}

.form-input:hover {
  border: 1px solid #000;
}

.form-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  width: 75px;
  height: 42px;
  background-color: #4e75ff;
  border: none;
  margin-right: 24px;
}
.form-btn:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
}

.gallery-item {
  width: 360px;
}
.gallery-img {
  display: block;
  border: 1px solid #808080;
  width: 100%;
  height: 240px;
  transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery-desc {
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  width: 360px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery-desc-item {
  text-align: center;
}

.gallery-subtitle {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
